<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">TopicName</th>
        <th scope="col">What</th>
        <th scope="col">When</th>
        <th scope="col">How</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let topic of topicList; index as i">
        <th scope="row">{{i+1}}</th>
        <td>{{topic["topicName"]}}</td>
        <td>{{topic["what"]}}</td> 
        <td>{{topic["when"]}}</td>
        <td>{{topic["how"]}}</td>
      </tr>
    </tbody>
  </table>